torch~=2.4
lightning~=2.4
torchmetrics
torchvision
einops
numpy
scipy
scikit-learn
pandas
matplotlib
wandb~=0.18
tqdm
rich
ipython
ipdb
jupyterlab
vertexai
opencv-python
mediapipe
Pillow
ultralytics
diffusers
transformers
accelerate
SpeechRecognition>=3.10.0
PyAudio>=0.2.13
pyrealsense2

scikit-image
pybullet
vertexai
google-cloud-aiplatform

ikpy
feetech-servo-sdk